/* CSS here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --font-family-styled: 'Sacramento', cursive;
  --Box-shadow-outside: -5px -5px 20px rgba(255, 255, 255, 0.849), 5px 5px 9px rgba(94, 104, 121, 0.3);
  --Box-shadow-inside: inset -5px -5px 9px rgba(255, 255, 255, 0.647), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-radius: 7px;
  box-shadow: var(--Box-shadow-outside);
  background-color: rgb(251, 249, 249);
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.logo a {
  color: black;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 15px 10px;
}

.nav-link {
  color: black;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 22%), inset 0 0 10px rgb(0 0 0 / 0%);
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}

.nav-link:hover {
  color: rgb(113, 47, 98);
}

.header {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.date {
  text-align: end;
  margin: 10px auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.all-books {
  width: 80%;
  margin: 0 auto;
  min-height: 440px;
  border-radius: 7px;
  box-shadow: var(--Box-shadow-outside);
  background-color: rgb(251, 249, 249);
}

.hide {
  display: none !important;
}

.book-list {
  align-items: center;
  width: 80%;
  box-shadow: var(--Box-shadow-outside);
  margin: auto;
}

.book-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.book-list div:nth-child(odd) {
  background-color: rgb(215, 215, 215);
}

.add-book {
  /* max-width: 700px; */
  margin: 0 auto;
  min-height: 300px;
  box-shadow: var(--Box-shadow-outside);
  background-color: rgb(251, 249, 249);
  border-radius: 10px;
  width: 80%;
}

.title,
.author {
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 400px;
  align-items: center;
  margin: auto;
}

input {
  padding: 7px;
  width: 100%;
  border: 2px solid black;
}

input::-webkit-input-placeholder {
  color: black;
}

.remove {
  align-self: flex-end;
  padding: 8px 20px;
  font-size: 17px;

  /* border: 2px solid black; */
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 1);
  transition: box-shadow 0.2s;
  color: rgb(244, 110, 110);
}

.form button:active,
.remove:active {
  box-shadow: 2px 2px 2px rgba(190, 182, 182, 0.8);
}

.add-btn {
  color: black;
  align-self: flex-end;
  padding: 8px 20px;
  font-size: 17px;

  /* border: 2px solid black; */
  box-shadow: 5px 7px 5px rgb(0 0 0);
  transition: box-shadow 0.2s;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contact-list {
  margin-left: 2rem;
}